{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}

<table class="table table-bordered table-sm">
	<thead class="thead-light">
            <tr scope="row">
                <td scope="col" colspan="100%" class="text-right">
                    <a class="btn btn-outline-success btn-sm" title="{% trans 'Añadir asignacion' %}"href="{% url 'asignacion:asignacion_crear'%}"><i class="fas fa-plus"></i></a>
                </td>
            </tr>
            <tr scope="row">
			<th scope="col">Regla</th>
			<th scope="col">Usuario</th>
			<th scope="col-2" colspan="2">Prioridad</th>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for asignacion in object_list %}
		<tr>
			<td scope="col">{{ asignacion.usuario.nombre }} {{asignacion.usuario.apellidos}}</td>
			<td scope="col">{{ asignacion.regla.descripcion }}</td>
			<td scope="col">{{ asignacion.prioridad }}</td>

            <td scope="col">
				<a class="btn btn-primary btn-sm" title="{% trans 'Editar' %}" href="{% url 'asignacion:asignacion_edit' asignacion.id %}"><i class="fas fa-pen"></i></a>
				<a class="btn btn-danger btn-sm" title="{% trans 'Borrar' %}" onclick="return confirm('{% trans '¿Está seguro?' %}');" href="{% url 'asignacion:asignacion_borrar' asignacion.id %}"><i class="fas fa-trash"></i></a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de asignaciones</h1>
		{% endif %}
	</tbody>
</table>

{% endblock%}