{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}
<h1 class="text-center border-bottom">Listado de usuarios</h1>
{% if object_list %}
    <table id="datatable_listar" class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr scope="row">
                <td scope="col" colspan="100%" class="text-right">
                    <a class="btn btn-outline-success btn-sm" title="{% trans 'Añadir usuario manualmente' %}"href="{% url 'usuarios:usuarios_crear'%}"><i class="fas fa-plus"></i> {% trans 'Añadir usuario manualmente' %}</a>
                    <a class="btn btn-outline-success btn-sm" title="{% trans 'Añadir usuario desde USB' %}" href="{% url 'usuarios:usuarios_alta1'%}"><i class="fas fa-hdd"></i> {% trans 'Añadir usuario desde USB' %}</a>
                </td>
            </tr>
            <tr scope="row">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Edad</th>
                <th scope="col">Teléfono</th>
                <th scope="col">E-mail</th>
                <th scope="col">Serial</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Fecha de modificación</th>
                <th scope="col">Reglas asignadas</th>
                <th scope="col-2" colspan="2">Administrador</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in object_list %}
                <tr scope="row">
                    <td scope="col">{{ usuario.userId }}</td>
                    <td scope="col">{{ usuario.nombre }}</td>
                    <td scope="col">{{ usuario.apellidos }}</td>
                    <td scope="col">{{ usuario.edad }}</td>
                    <td scope="col">{{ usuario.telefono }}</td>
                    <td scope="col">{{ usuario.email }}</td>
                    <td scope="col">{{ usuario.serial }}</td>
                    <td scope="col">{{ usuario.fechaCreacion|date:'Y-m-d H:i' }}</td>
                    <td scope="col">{{ usuario.fechaModificacion|date:'Y-m-d H:i' }}</td>
                    <td scope="col">
                        <ul>
                            {% for regla in usuario.reglas_set.all %}
                                <li>{{ regla }}</li>
                            {% endfor %}
                            </ul>
                    </td>
                    <td scope="col"><i class="fas fa-dot-circle btn-{% if usuario.admin %}success{%else%}danger{%endif%} btn-sm"></i></td>

                    <td scope="col">
                        <a class="btn btn-warning btn-sm" title="{% trans 'Reglas' %}"href="{% url 'usuarios:usuarios_asignar' usuario.pk%}"><i class="fas fa-list-ol"></i></a>
                        <a class="btn btn-primary btn-sm" title="{% trans 'Editar' %}" href="{% url 'usuarios:usuarios_edit' usuario.pk%}"><i class="fas fa-pen"></i></a>
                        <a class="btn btn-danger btn-sm" title="{% trans 'Borrar' %}" onclick="return confirm('{% trans '¿Está seguro?' %}');" href="{% url 'usuarios:usuarios_delete' usuario.pk%}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}


        {% else %}
            <div class="alert alert-danger">
                No hay registros de usuarios.
                <a class="btn btn-outline-success btn-sm" title="{% trans 'Añadir usuario manualmente' %}"href="{% url 'usuarios:usuarios_crear'%}"><i class="fas fa-plus"></i> {% trans 'Añadir usuario manualmente' %}</a>
                <a class="btn btn-outline-success btn-sm" title="{% trans 'Añadir usuario desde USB' %}" href="{% url 'usuarios:usuarios_alta1'%}"><i class="fas fa-hdd"></i> {% trans 'Añadir usuario desde USB' %}</a>
            </div>
        {% endif %}
    </tbody>
</table>

{% endblock %}
