{% extends 'base/base.html' %}
{% load i18n %}


{% block content %}

<div class="row"><div class="col-md-12">
{% if object_list %}
    <table class="table table-striped table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th class="row">
                    <div class="col">#</div>
                    <div class="col-4">Contenido</div>
                    <div class="col-3">Descripción</div>
                    <div class="col">Creación</div>
                    <div class="col">Modificación</div>
                    <div class="col-2">Usuarios</div>
                </th>
            </tr>
        </thead>
        <tbody>
                {% for regla in object_list %}
                    <tr>
                        <td class="row">
                        <div class="col"><strong>{{ regla.id }}</strong></div>
                        <div class="col-4">{{ regla.contenido }}</div>
                        <div class="col-3">{{ regla.descripcion }}</div>
                        <div class="col">{{ regla.fechaCreacion|date:'Y-m-d H:i' }}</div>
                        <div class="col">{{ regla.fechaModificacion|date:'Y-m-d H:i' }}</div>
                        <div class="col">{{ regla.persona.nombre }} {{ regla.persona.apellidos }}</div>
                        <div class="col">
                            <a class="btn btn-primary btn-sm" href="{% url 'reglas:reglas_edit' regla.id %}"><i class="fas fa-pen"></i></a>
                            <a class="btn btn-danger btn-sm" href="{% url 'reglas:reglas_delete' regla.id %}"><i class="fas fa-trash"></i></a>
                        </div>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% else %}
        <div class="alert alert-danger">No hay registros de reglas. <a href="{% url 'reglas:reglas_crear' %}" class="btn btn-success">Añadir regla</a></div></div>
{% endif %}
</div></div>

{% endblock %}
